.container {
  color: #61dafb;
  display: flex;
  .nav-left{
    width: 15%;
    min-width: 150px;
    height: calc(100vh);
    //100vh相当于100%
    background-color: brown;
  }
  .main{
    flex: 1;
    background-color: antiquewhite;
    height: calc(100vh);
  }
  .content{
    position: relative;
    background-color: azure;
    padding: 20px;
  }
}
