.main {

  .header {
    background-color: #fff;
    .header-top {
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid #001529;
      padding: 0 20px;
      text-align: right;

      a {
        margin-left: 40px;
      }
    }

    .header-bottom {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;

      .bottom-title {
        font-size: 18px;
        text-align: center;
        &:after{
          position: absolute;
          content: '';
          left: 80px;
          top: 49px;
          border-top: 10px solid #fff;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
      }

      .bottom-data {
        text-align: right;
        .bottom-date{
            margin-right: 20px;
        }
      }
    }
  }
}
